<ion-view view-title="Fruteria">
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-chevron-right" ng-click="logout()">Salir</button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-stable item-input-inset">
    <button class="button icon-left ion-android-apps" ng-click="gotoCategories()">Categorias</button>
    <label class="item-input-wrapper search-item">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar" ng-model="searchProducts.name" ng-change="changeSearch()" ng-keypress="pressSearch($event)">
    </label>
  </div>
  <ion-content class="dash-content">
    <div class="padding">
      <div class="row dash-row" ng-if="productRight.length > 0 || productLeft.length > 0">
        <div class="col col-50">
          <div class="row dash-row" ng-repeat="product in productLeft | filter:searchProducts">
            <div class="list card card-style" ng-click="selectItem(product.id, 'left')">
              <div class="item item-body">
                <i class="icon ion-ios-cart" ng-if="onShopping($index, 'left')"></i>
                <img class="full-image" ng-src={{product.imageUrl}}>
              </div>
              <div class="item">
                <h2>{{product.name}}</h2>
                <h4 ng-repeat="units in product.units">1x {{units.unit}} {{units.price| currency}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-50">
          <div class="row dash-row" ng-repeat="product in productRight | filter:search">
            <div class="list card card-style" ng-click="selectItem(product.id, 'right')">
              <div class="item item-body">
                <i class="icon ion-ios-cart" ng-if="onShopping($index, 'right')"></i>
                <img class="full-image" ng-src={{product.imageUrl}}>
              </div>
              <div class="item">
                <h2>{{product.name}}</h2>
                <h4 ng-repeat="units in product.units">1x {{units.unit}} {{units.price| currency}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="padding" ng-if="productRight.length == 0 && productLeft.length == 0">
        <div class="list card">
          <div class="item item-divider">
            Busqueda actual
            <i class="icon ion-close-round remove-search" ng-click="removeSearch()"></i>
          </div>
          <div class="item item-body item-text-wrap">
            <h2>Sin coincidencias para "{{searchProducts.name}}"</h2>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
