<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">{{productFound.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeProductModal()">Cerrar</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="infobox">Informacion de prodcto</div>

    <div class="list card">
      <div class="item item-body">
        <img class="full-image" ng-src={{productFound.imageUrl}}>
      </div>
      <div class="item">
        <h2>{{productFound.name}}</h2>
        <h4 ng-repeat="units in productFound.units">1x {{units.unit}} {{units.price| currency}}</h4>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Agregar a carrito</div>
      <div class="item row cant-row">
        <div class="col-10">
          <button class="button button-small icon ion-minus-round button-positive" ng-click="minusProd()" ng-disabled="productFound.quantity<=0"></button>
        </div>
        <div class="col-80">
          <input type="number" ng-model="productFound.quantity" placeholder="Cantidad" class="cant-product">
        </div>
        <div class="col-10">
          <button class="button button-small icon ion-plus-round button-positive" ng-click="plusProd()"></button>
        </div>
      </div>
      <div class="item item-input item-select">
        <div class="input-label">
          Tipo de unidad
        </div>
        <select ng-model="productFound.unitSelected">
          <option ng-repeat="units in productFound.units" value="{{units.unit}}" ng-selected="productFound.unitSelected.unit == units.unit">{{units.unit}}</option>
        </select>
      </div>
      <div class="padding">
        <button class="button button-block button-calm" ng-click="addToShopping()" ng-disabled="!productFound.unitSelected || productFound.quantity<=0">Agregar</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
