<ion-view name="recPass">
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button style="">
  </ion-nav-back-button>
</ion-nav-bar>
    <ion-content class="login padding" has-bouncing="false">
        <div class="logo">
            <img src="http://vignette2.wikia.nocookie.net/respawnables/images/2/2f/Apple-logo-white-md.png/revision/latest?cb=20160224124036"/>
        </div>
        <div class="login-content">
            <div class="padding">
              <p class="logininput">Ingresa tu correo electronico para recuperar tu contraseña.</p>
                <div class="loginlist list list-inset">
                    <label class="loginitem item item-input">
                        <input type="email" ng-model="recover.email" placeholder="Email" class="logininput">
                    </label>
                </div>
            </div>
            <div class="padding btn-container">
                <button ng-click="recoverPass()" class="loginbutton button button-block button-positive">
                    <b>Enviar</b>
                </button>
            </div>
        </div>


    </ion-content>
    <div ng-if="!loader.active" style="position: fixed; top: 0; left:0; background-color: rgba(255, 255, 255, 0.43); height: 100%; width: 100%;">
        <div style="position: absolute; top: 40%; left: 39%;">
        <ion-spinner style="width: 28px;: 20px" icon="lines"></ion-spinner>
    </div>

    </div>
</ion-view>
