<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Pedido No. {{saleFound.id}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeInfoOrderModal()">Cerrar</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="infobox">Informacion de pedido</div>

    <div class="list card" ng-if="editEnabled">
      <div class="item item-divider">Modificar Pedido</div>
      <form class="list">
        <div ng-change="checkChanges()" class="item" ion-datetime-picker date ng-model="saleFound.date_form" monday-first data-title="'Fecha deseada'">
          Fecha {{saleFound.date_form| date:'dd-MM-yyyy'}}
        </div>
        <div ng-change="checkChanges()" class="item" ion-datetime-picker time ng-model="saleFound.time_form" minute-step="15" data-title="'Hora deseada'">
          Hora {{saleFound.time_form| date: "HH:mm"}}
        </div>
        <label class="item item-input">
          <textarea class="comment-shopping" placeholder="Comentarios" ng-model="saleFound.comments"></textarea>
        </label>
      </form>
      <div class="padding row" ng-if='(saleFound.status == "En espera") && (!saleFound.confirmedDate)'>
        <div class="col">
          <button class="button icon-left ion-close-round button-block button-calm" ng-click="cancelChanges()">Cancelar</button>
        </div>
        <div class="col">
          <button class="button icon-right ion-bookmark button-block button-calm" ng-click="sendChanges()">Guardar</button>
        </div>
      </div>
    </div>

    <div class="list card" ng-if="!editEnabled">
      <div class="item item-divider">
        Informacion General
      </div>
      <div class="item item-text-wrap">
        <p>Fecha y Hora Pedido: {{saleFound.dateSale | date:'dd-MM-yyyy HH:mm'}}</p>
        <p>Fecha y Hora Deseada: {{saleFound.desiredDate | date:'dd-MM-yyyy HH:mm'}}</p>
        <p ng-if="saleFound.confirmedDate">Fecha y Hora Programada: {{saleFound.confirmedDate | date:'dd-MM-yyyy HH:mm'}}</p>
        <p ng-if="saleFound.deliveredDate">Fecha y Hora Entregado: {{saleFound.deliveredDate | date:'dd-MM-yyyy HH:mm'}}</p>
        <p ng-if="saleFound.comments">Comentarios: {{saleFound.comments}}</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Listado de Productos
      </div>
      <div class="item row">
        <div class="col-20 list-product">Cant.</div>
        <div class="col-50 list-product">Producto</div>
        <div class="col list-product">Total</div>
      </div>

      <div class="item row" ng-repeat="product in saleFound.products">
        <div class="col-20 list-product">{{product.quantity}} {{product.unitSelected}}</div>
        <div class="col-50 list-product">{{product.name}}</div>
        <div class="col list-product">{{product.totalPrice| currency}}</div>
      </div>

      <div class="item row">
        <div class="col-50 list-product">Total del pedido</div>
        <div class="col-20">
        </div>
        <div class="col list-product">{{saleFound.totalPrice| currency}}</div>
      </div>

      <div class="padding row" ng-if='(saleFound.status == "En espera") && (!saleFound.confirmedDate)'>
        <div class="col">
          <button class="button icon-left ion-close-round button-block button-calm" ng-click="cancelOrder()">Eliminar</button>
        </div>
        <div class="col">
          <button class="button icon-right ion-edit button-block button-calm" ng-click="enableEdit()" ng-disabled="editEnabled">Modificar</button>
        </div>
      </div>

      <div class="padding row" ng-if='(saleFound.status == "Enviado") && (saleFound.confirmedDate)'>
        <div class="col">
          <button class="button icon-left ion-close-round button-block button-calm" ng-click="orderReceived()">Recibido</button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
