<ion-view view-title="Pedidos">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-chevron-right" ng-click="logout()">Salir</button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-stable">
    <div class="button-bar">
      <button class="button icon-left ion-android-apps" ng-click="orderHold()" ng-disabled="searchSales.status == 'En espera'">En espera</button>
      <button class="button icon-left ion-android-apps" ng-click="orderSent()" ng-disabled="searchSales.status == 'Enviado'">Enviado</button>
      <button class="button icon-left ion-android-apps" ng-click="orderDelivered()" ng-disabled="searchSales.status == 'Entregado'">Entregado</button>
    </div>
  </div>
  <ion-content class="dash-content padding">
    <div class="card" ng-click="selectOrder(sale.id)" ng-repeat="sale in salesFiltered = (sales | filter:searchSales)">
      <div class="item item-divider">
        Pedido No. {{sale.id}}
      </div>
      <div class="item item-text-wrap">
        <p>Precio Total: {{sale.totalPrice | currency}}</p>
        <p ng-if="sale.status == 'En espera'">Fecha y Hora Pedido: {{sale.dateSale | date:'dd-MM-yyyy HH:mm'}}</p>
        <p ng-if="sale.status == 'En espera'">Fecha y Hora Deseada: {{sale.desiredDate | date:'dd-MM-yyyy HH:mm'}}</p>
        <p ng-if="(sale.confirmedDate) && (sale.status == 'Enviado')">Fecha y Hora Programada: {{sale.confirmedDate | date:'dd-MM-yyyy HH:mm'}}</p>
        <p ng-if="sale.deliveredDate">Fecha y Hora Entregado: {{sale.deliveredDate | date:'dd-MM-yyyy HH:mm'}}</p>
      </div>
    </div>

    <div class="card" ng-if="!salesFiltered.length">
      <div class="item item-text-wrap">
        <p>Sin coincidencias para "{{searchSales.status}}"</p>
      </div>
    </div>

  </ion-content>
</ion-view>
