<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Carrito</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeConfirmOrder()">Cerrar</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="infobox">Indique la fecha y hora deseados para la entrega de su pedido:</div>

    <div class="list card">
      <div class="item item-divider">Entrega de Pedido</div>
      <form class="list">
        <div class="item" ion-datetime-picker date ng-model="temporal.date_form" monday-first data-title="'Fecha deseada'">
          Fecha {{temporal.date_form| date:'dd-MM-yyyy'}}
        </div>
        <div class="item" ion-datetime-picker time ng-model="temporal.time_form" minute-step="15" data-title="'Hora deseada'">
          Hora {{temporal.time_form| date: "HH:mm"}}
        </div>
        <label class="item item-input">
          <textarea class="comment-shopping" placeholder="Comentarios" ng-model="temporal.comments"></textarea>
        </label>
      </form>
      <div class="padding">
        <button class="button icon-right ion-bookmark button-block button-calm" ng-click="sendOrder()" ng-disabled="!temporal.date_form || !temporal.time_form">Confirmar</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
