<ion-view view-title="Carrito">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-nav-buttons side="right">
    <button class="button icon-right ion-chevron-right" ng-click="logout()">Salir</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card" ng-if="shopping.length > 0">

      <div class="item item-divider">
        Pedido actual
      </div>
      <div class="item row">
        <div class="col-20 list-product">Cant.</div>
        <div class="col-50 list-product">Producto</div>
        <div class="col list-product">Total</div>
      </div>

      <div class="item row" ng-click="editProduct($index)" ng-repeat="product in shopping">
        <div class="col-20 list-product">{{product.quantity}} {{product.unitSelected}}</div>
        <div class="col-50 list-product">{{product.name}}</div>
        <div class="col list-product">{{product.totalPrice| currency}}</div>
      </div>

      <div class="item row">
        <div class="col-50 list-product">Total del pedido</div>
        <div class="col-20">
        </div>
        <div class="col list-product">{{getTotal()| currency}}</div>
      </div>

      <div class="padding row">
        <div class="col">
          <button class="button icon-right ion-bookmark button-block button-calm" ng-click="emptyShopping()">Vaciar carrito</button>
        </div>
        <div class="col">
          <button class="button icon-right ion-bookmark button-block button-calm" ng-click="confirmOrder()">Enviar Pedido</button>
        </div>
      </div>
    </div>

    <div ng-if="shopping.length == 0">
      <div class="list card" >
        <div class="item item-divider">
          Pedido actual
        </div>
        <div class="item item-text-wrap">
          Vacio
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
