<ion-view view-title="Categorias">
  <ion-content>
    <div class="padding">
      <div class="row dash-row">
        <div class="col col-50">
          <div class="row dash-row">
            <div class="list card  card-style" ng-click="selectCategorie(-1, 'left')">
              <div class="item item-body item-categorie">
                <img class="full-image" src="https://cdn0.iconfinder.com/data/icons/star-wars/512/death_star-512.png">
              </div>
              <div class="item">
                <h2>Todas</h2>
              </div>
            </div>
          </div>
          <div class="row dash-row" ng-repeat="category in categoryLeft">
            <div class="list card  card-style" ng-click="selectCategorie($index, 'left')">
              <div class="item item-body item-categorie">
                <img class="full-image" ng-src={{category.imageUrl}}>
              </div>
              <div class="item">
                <h2>{{category.name}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="row dash-row" ng-repeat="category in categoryRight">
            <div class="list card  card-style" ng-click="selectCategorie($index, 'right')">
              <div class="item item-body item-categorie">
                <img class="full-image" ng-src={{category.imageUrl}}>
              </div>
              <div class="item">
                <h2>{{category.name}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
