<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-nav-view name="app">
</ion-nav-view>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Fruteria" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/dashboard/products">
  </ion-tab>

  <!-- Shopping Tab -->
  <ion-tab title="Carrito" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/app/shopping" badge="getShoppingBadge()" badge-style="badge-balanced">
  </ion-tab>

  <!-- Orders Tab -->
  <ion-tab title="Pedidos" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/orders">
  </ion-tab>

</ion-tabs>
