<ion-view name="login">
    <ion-content class="login padding" has-bouncing="false">
        
        <div class="login-content">

            <div class="padding">
                <div class="loginlist list list-inset">
                    <label class="loginitem item item-input">
                        <input type="email" ng-model="credentials.email" placeholder="Email" class="logininput">
                    </label>
                    <label class="loginitem item item-input">
                        <input type="password" ng-model="credentials.password" placeholder="Contraseña"
                               class="logininput">
                    </label>
                </div>
            </div>
            <div class="padding btn-container">
                <button ng-click="login()" class="loginbutton button button-block button-positive">
                    <b>Entrar</b>
                </button>
            </div>
            <hr>
            <div class="padding forgot">
                <a ng-click="gotoRecPass()"><b>¿Olvidaste tu contraseña?</b></a>
            </div>
        </div>


    </ion-content>
    <div ng-if="!loader.active" style="position: fixed; top: 0; left:0; background-color: rgba(255, 255, 255, 0.43); height: 100%; width: 100%;">
        <div style="position: absolute; top: 40%; left: 39%;">
        <ion-spinner style="width: 28px;: 20px" icon="lines"></ion-spinner>
    </div>

    </div>
</ion-view>
