.login {
  background-color: #3F9DDA;
}

.login hr{
  opacity: 0.5;
  height: 2px;
}

.loginlist {
  background-color: #3F9DDA;
}

.loginitem {
  border: 1px solid rgba(255, 255, 255, .1);
  margin-bottom: 10px;
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, .2);
}

.logininput{
  color: #EEE !important;
}

.loginbutton {
  border-radius: 5px;
  background-color: #3F9DDA !important;
  border-color: white !important;
}

.logo {
  width: 40%;
  margin: 20px auto;
  text-align: center;
}

.logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.forgot{
  text-align: right;
}

.forgot a{
  color: white;
  text-decoration-line: none;
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #d9d9d9;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #d9d9d9;
  opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #d9d9d9;
  opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d9d9d9;
}

.spinner svg {
  width: 85px;
  height: 85px;
  stroke: #444;
  fill: #444;
}